<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The TimeShip</title>
    <script type="text/javascript" src="https://sdk.userbase.com/1/userbase.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <!-- Auth View -->
  <div id="auth-view">
    <h1>The TimeShip Sign Up 🏹</h1>
    <form id="signup-form">
      <input id="signup-username" type="text" required placeholder="Username">
      <input id="signup-pasSword" type="password" required placeholder="Pas🗡️">
      <input type="submit" value="Create an account">
    </form>
    <div id="signup-error"></div>
  </div>
<!-- application code -->
    <script type="text/javascript">
        userbase.init({ appId: "8af6..." })

  function handleSignUp(e) {
    e.preventDefault()

    const username = document.getElementById('signup-username').value
    const password = document.getElementById('signup-pasSword').value

    userbase.signUp({ username, password, rememberMe: 'none' })
      .then((user) => alert(`You signed Up ${user.username} !`))
      .catch((e) => document.getElementById('signup-error').innerHTML = e)
  }

  document.getElementById('signup-form').addEventListener('submit', handleSignUp)
    </script>
</body>
</html>






