<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The TimeShip</title>
    <script type="text/javascript" src="https://sdk.userbase.com/1/userbase.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <!-- auth view -->
  <div id="auth-view">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>The TimeShip Sign Up 🏹</h1>
    <form id="signup-form">
      <input id="signup-username" type="text" required placeholder="Username">
      <input id="signup-pasSword" type="password" required placeholder="Pas🗡️">
      <input type="submit" value="Sign Me Up 🏹">
    </form>
    <div id="signup-error"></div>
  </div>
  <!-- go-year view -->
  <div id="go-year-view">
    <h1>Go-Year List</h1>
    <form id="add-go-year-form">
      <input id="add-go-year" type="text" required placeholder="Go-Year">
      <input type="submit" value="Add">
    </form>
    <div  id="add-go-year-error"></div>
  </div>
<!-- application code -->
  <script type="text/javascript">
    userbase.init({ appId: "8af6..." })

    function handleTimeShipSignUp(e) {
      e.preventDefault()

      const username = document.getElementById('signup-username').value
      const password = document.getElementById('signup-pasSword').value

      userbase.signUp({ username, password, rememberMe: 'none' })
        .then((user) => showGoYearForGold(user.username))
        .catch((e) => document.getElementById('signup-error').innerHTML = e)
    }
    function showGoYearForGold(user) {
        const successUrl = 'http://localhost:8000/solhauggata9'
        const cancelUrl = 'http://localhost:8008/londonbridge'

        if (!user.subscriptionStatus) {
            userbase.purchaseSubscription({ successUrl, cancelUrl });
            return
        }
    }
    function addGoYearHandler(event) {
      event.preventDefault()

      const goyear = document.getElementById('add-go-year').value

      userbase.insertItem({ databaseName: 'goyears', item: {'goyear': goyear}})
        .then(() => document.getElementById('add-go-year').value = '')
        .catch((event) => document.getElementById('add-go-year-error').innerHTML = event)
    }

    document.getElementById('signup-form').addEventListener('submit',
      handleTimeShipSignUp)
    document.getElementById('add-go-year-form').addEventListener('submit', addGoYearHandler)
  </script>
</body>
</html>




















